<div class="container">
    <app-header (scroll)="onScroll" [ngClass]="navBarFixed? 'fixed': 'no-fixed'" class="hero-comp"></app-header>
    <div class="intro-wrap" id="top">
        <div class="heading">
            <h3>
                HOW TO GET YOUR <span>SIGNAGE</span> MANUFACTURED
            </h3>
        </div>
        <div class="about-text">
            <h3 class="text-head">
                We first need to <span>understand</span> your audience and the <span>message</span> you need to convey
            </h3>
            <p class="text">
                Depending on your marketing needs, operational needs, and the nature of your business or institution you will need the right signage to convey a message to the users or guests.
                <br/><br/>
                A client brief will help us understand the specific needs or problems that need to be tackled.
            </p>
        </div>
        <div class="about-text">
            <p class="text">
                If you do not already have a digital design of your signage our team of creative designers will prepare designs to be manufactured upon client approval.
                <br/>‍<br/>
                In the case you have designs prepared they can be sent to us to be processed and manufactured.
            </p>
            <h1 class="text-head"><span>Designs</span> for your signage</h1>
        </div>
        <div>
            <h1 class="h1-large">SIGNAGE</h1>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title">
            <h2>
                RETAILSHOP <span>&amp;</span> <br/>STOREFRONT SIGNAGE
            </h2>
            <p>
                The retail sector is highly competitive. Your business needs every aspect of your storefront signage to effectively promote your brand and retail store. From your external signage to the smallest POS talker and even the wallpaper instore,
                Advertise Here has the expertise to maximize your impact on your clients. We have worked with international retail brands as well as local specialty stores which gives us a unique understanding of all aspects of the requirements in
                Retail &amp; Storefront signage.
            </p>
        </div>
        <div class="content">
            <img src="../../../assets/img/signage/img/img_001.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_002.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_003.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 3750px) 32vw, 1200px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_004.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_005.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_006.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_007.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_008.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw"
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_009.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_010.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_011.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_012.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_013.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_014.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_015.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title">
            <h2>
                CORPORATE <span>&amp;</span> <br/>OFFICE SIGNAGE
            </h2>
            <p>
                Your building signage is your most tireless salesperson. Always there and always being seen. Regardless of your CI, your business signage must attract and focus the attention of those who see it. Advertise Here understands the relationship
                between effective signage and streamlined marketing budgets, that is why we are trusted by our corporate clients nationwide. Our team will work with you to design and create the most effective office signage for your organization both
                internal and external, making your corporate space inviting and highly productive.
            </p>
        </div>
        <div class="content">
            <img src="../../../assets/img/signage/img/img_016.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_017.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_018.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_019.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_020.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_021.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_022.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 8254px) 33vw, 2724px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_023.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_024.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_025.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_026.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_027.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_028.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_029.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 3375px) 32vw, 1080px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_030.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3303px) 31vw, 1024px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_031.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title">
            <h2>CONSTRUCTION</h2>
            <p>
                Any large-scale construction project relies heavily on signage to maintain safety on-site and ensure proper control of materials and equipment. Professionals on site such as architects and project managers often rely on competent signage
                providers to provide them with durable “on-site” signage. These signs include everything from health and safety signs to contractor’s boards as well as directional signs. Advertise Here works closely with all stakeholders on-site to
                ensure that all regulatory and informative signs are in place and up to code.
            </p>
        </div>
        <div class="content">
            <img src="../../../assets/img/signage/img/img_032.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 3750px) 32vw, 1200px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_033.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw"
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_034.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_035.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_036.webp" 
            loading="lazy"  
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 3500px) 32vw, 1120px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_037.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_038.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_039.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_040.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_041.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_042.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_043.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_044.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_045.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title">
            <h1>
                ILLUMINATED SIGNAGE
            </h1>
            <p>
                Indoors or outdoors, illuminated signage attracts your client’s attention. By adding lighting to your signs, you increase the efficacy of your sign by almost 100%. This gives you a much higher ROI for your signage or marketing budget,
                as well as longer brand retention in your clients’ and prospects’ minds. Use illumination to focus your brand message and create the buzz that your business deserves. Using LED lighting, high-visibility materials and design concepts
                is one of our specialties, making sure that you get the most out of your signs 24/7/365.
            </p>
        </div>
        <div class="content">
            <img src="../../../assets/img/signage/img/img_046.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_047.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_048.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw"
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_049.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_050.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_051.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw"
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_052.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_053.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_054.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_055.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_056.webp"
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px"
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_057.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3354px) 31vw, 1040px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_058.webp" 
            loading="lazy" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_059.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title">
            <h1>
                VEHICLE SIGNAGE
            </h1>
            <p>
                Your vehicles are a vital cog in your brand recognition and marketing strategies. Whether you just need to number your fleet for identification purposes or maximize your brand exposure with high-impact visuals, your vehicles need high-quality
                signage and decals. Advertise Here only uses superior quality vinyl and the highest application standards to deliver lasting vehicle graphics. Using your vehicles as mobile brand ambassadors you can capitalize on the more than 70%
                of road users that notice branded vehicles during their daily commute.
            </p>
        </div>
        <div class="content">
            <img src="../../../assets/img/signage/img/img_060.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_061.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_062.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_063.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 3750px) 32vw, 1200px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_064.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_065.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 33vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_066.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_067.webp" 
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4775px) 32vw, 1528px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_068.webp" 
            loading="lazy"
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, (max-width: 4000px) 32vw, 1280px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_069.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 3303px) 31vw, 1024px" 
            alt="" 
            class="grid-img" />
            <img src="../../../assets/img/signage/img/img_070.webp"
            loading="lazy" 
            sizes="(max-width: 479px) 96vw, (max-width: 991px) 31vw, 32vw" 
            alt="" 
            class="grid-img" />
        </div>
    </div>
</div>
