@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(../../../assets/fonts/Montserrat.ttf) format("truetype");
}

* {
    font-family: "Montserrat";
}

.hero-comp {
    width: 100vw;
    z-index: 1000;
}

.fixed {
    position: fixed;
    top: 0;
    transition: 0.03 linear;
}

.no-fixed {
    position: static;
    top: -50px;
    transition: 0.03 linear;
}

.container {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    overflow-x: hidden;
}

.heading {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #393939;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-wrap {
    width: 90%;
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-text, .about-img-wrap {
    padding: 3em;
    width: 40vw;
}

.about-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.service-img {
    width: 100%;
    border-radius: 12px;
}

.link-wrap {
    position: relative;
    right: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.page-link {
    text-decoration: none;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.page-link:hover {
    color: #ff4633;
}

.arrow {
    width: 120px;
    position: relative;
    right: -30px;
    cursor: pointer;
    transition: all 0.8s
}

.arrow:hover {
    transform: scale(1.2);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
}

h4 {
    font-size: 21px;
    font-weight: 600;
}

p {
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.carousel {
    margin-top: 6em;
}

.carousel-caption p, .carousel-caption h4 {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px #393939;
}

.carousel-caption {
    display: none !important;

}

.h1-large {
    color: transparent;
    -webkit-text-stroke: 6px #ff4633;
    font-size: 18em;
}

@media screen and (max-width: 1350px) {
    .about-text {
        padding: 0;
    }
}

@media screen and (max-width: 912px) {
    .content-wrap, .content-icons {
        flex-direction: column-reverse;
    }

    .about-img-wrap, .about-text, .icons-wrap {
        padding: 3em;
        width: 100vw;
    }
    
    h1 {
        font-size: 54px;
    }

    .h1-large {
        font-size: 12em;
    }
}

@media screen and (max-width: 540px) {
    .h1-large {
        -webkit-text-stroke: 3px #ff4633;
        font-size: 7.2em;
    }
}

@media screen and (max-width: 414px) {
    .h1-large {
        text-align: center;
        line-height: 1em;
    }
}