<app-header (scroll)="onScroll" [ngClass]="navBarFixed? 'fixed': 'no-fixed'" class="hero-comp"></app-header>
<div class="container">
    <div class="heading">
        <h1 class="h1-large">OUR WORK</h1>
    </div>
    <div class="content-wrap">
        <div class="about-text">
            <h3>Client Name</h3>
            <h4>Project Title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <strong>project date</strong>
            </p>
        </div>
        <div class="about-img-wrap">
            <img src="../../../assets/img/case-study/img/cs_img_001.webp"
            alt="branded bottle" 
            class="service-img" />
            <div style="width: 100%;">
                <div class="link-wrap">
                    <a class="page-link">view content</a>
                    <a>
                        <img src="../../../assets/img/nav/arrow.webp"
                        alt="arrow" 
                        class="arrow"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <div class="about-text">
            <h3>Client Name</h3>
            <h4>Project Title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <strong>project date</strong>
            </p>
        </div>
        <div class="about-img-wrap">
            <img src="../../../assets/img/case-study/img/cs_img_002.webp"
            alt="branded bottle" 
            class="service-img" />
            <div style="width: 100%;">
                <div class="link-wrap">
                    <a class="page-link">view content</a>
                    <a>
                        <img src="../../../assets/img/nav/arrow.webp"
                        alt="arrow" 
                        class="arrow"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
