<div class="branding-container">
    <div data-poster-url="../../../assets/img/digital/poster_002.webp" 
    data-video-urls="../../../assets/vid/digital/render_showreel.webm"
    data-autoplay="true" 
    data-loop="true" 
    data-wf-ignore="true" 
    class="background-video">
        <video autoplay="" 
        loop="" 
        style="background-image:url(&quot;../../../assets/img/digital/poster_002.webp&quot;)" 
        muted="" 
        playsinline=""
        data-wf-ignore="true" 
        data-object-fit="cover">
        <source src="../../../assets/vid/digital/render_showreel.webm" data-wf-ignore="true"/>
        </video>
        <noscript>
            <style>
                [data-wf-bgvideo-fallback-img] {
                    display: none;
                }
                @media (prefers-reduced-motion: reduce) {
                    [data-wf-bgvideo-fallback-img] {
                    position: absolute;
                    z-index: -100;
                    display: inline-block;
                    height: 100%;
                    width: 100vw;
                    object-fit: cover;
                    }
                }
            </style>
            <img data-wf-bgvideo-fallback-img="true" src="../../../assets/img/digital/poster_002.webp" alt=""/>
        </noscript>
        <div aria-live="polite">
            <button type="button" 
            data-w-bg-video-control="true" 
            aria-controls="56820c09-bcdb-dce7-d26b-2bac192eb1b9-video" 
            class="video-control">
                <img src="../../../assets/img/player/pause.svg" alt="Pause video"/>
                <img hidden="" src="../../../assets/img/player/play.svg" alt="Play video"/>
            </button>
        </div>
    </div>
    <div class="about-section">
        <app-header (scroll)="onScroll" [ngClass]="navBarFixed? 'fixed': 'no-fixed'" class="hero-comp"></app-header>
        <h2><span>3D</span> Visualization</h2>
        <div class="content-wrap">
            <div class="about-text">
                <p>
                    We offer quality customer service and the highest quality 3D rendering services on the market. Many individuals and businesses requiring exceptional marketing and communication material in the construction and design industries have turned to 3D rendering.
                </p>
            </div>
            <div class="about-img-wrap">
                <img src="../../../assets/img/digital/house_001.webp" 
                alt="" 
                class="service-img" />
            </div>
        </div>
        <div class="render-img-wrap">
            <img src="../../../assets/img/digital/house_002.webp" 
            alt="" 
            class="render-img" />
            <img src="../../../assets/img/digital/house_003.webp" 
            alt="" 
            class="render-img" />
        </div>
        <div class="content-wrap">
            <div class="about-text">
                <h2>Web Development</h2>
                <p>
                    The more appealing a site is with perfect wording and website design, the more leads and feet moving through your website, which leads to increased sales.
                    <br/><br/>
                    We create business-focused websites and graphic elements to get your company in front of the clients you want to reach.
                </p>
            </div>
            <div class="about-img-wrap">
                <img src="../../../assets/img/digital/digital_001.webp" 
                alt="" 
                class="service-img" />
            </div>
        </div>
        <div class="content-wrap">
            <div class="about-img-wrap">
                <img src="../../../assets/img/digital/digital_002.webp" 
                alt="" 
                class="service-img" />
            </div>
            <div class="about-text">
                <p>
                    We use the most recent web design trends and practices to keep your company ahead of the competition.
                    <br/><br/>
                    A beautiful website is not a guarantee of success. We handle all of the complicated stuff behind the scenes for you, including strict coding standards.
                    <br/><br/>
                    Aside from designing your website, we can help you advance your brand strategy with services such as SEO, online marketing, graphic design, and more!
                </p>
            </div>
        </div>
    </div>
</div>